#faq {
    padding: 100px 0;
    background-color: #4ECDC4;
    color: #FFF;
}

#faq h2{
    text-align: center;
}

#faq a {
    color: gray;
}

#contact {
    padding: 100px 0 50px 0;
}

.footer {
    bottom: 0;
    padding: 10px 20px;
}

#judges {
    padding: 100px 0 70px 0;
}

#judges {
    text-align: center;
}

#judges img {
    width: 100%;
    height: auto;
    padding: 40px;
}

#judges .btn {
    margin-top: 40px;
    font-size: 2em;
    color: #4ECDC4;
}