$intro-color: #919ca8;
$info-color: #87D37C;
$venture-color: #6C7A89;
$v-color: #A2DED0;

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;

}

.main {
    width: 99vw;
    height: 120vh;
    background-color: $v-color;
    h2 {
        font-size: 3em;
        font-weight: 400;
        margin-bottom: 35px;
    }
}

/* intro */
.intro {
    background-color: $v-color;  
    height: 80vh;
    h1 {
        color: $venture-color;
        font-size: 10em;
        text-align: center;
        font-weight: 500;
    }
    
    h3 {
        font-size: 2em;
        text-align: center;
        line-height: 1em;
        margin-top: -40px;
        
    div {
        display: inline-block;
        }
    }
    
    button {
        margin-top: -20px;
        font-size: 0.6em;
        width: 200px;
        height: 45px;
        margin-bottom: 0;
    }
    
    .intro-info {
        font-weight: 300;
        font-size: 3em;
        line-height: 1em;
        text-align: center;
        color: $venture-color;
    }
    
    .mentor-apply {
        font-size: 0.3em;
        padding: 0;
    }
}
#v {
    position:relative;
    font-size: 20em;
    font-family: 'Aroly';
    text-align: center;
    color: $venture-color;
    line-height: 1.1em;
    margin-bottom: -100px;
    padding-top: 50px;
}

/* info */
.info {
    background-color: $intro-color;
    position: relative;
    font-size: 1.5em;
    margin: 10px 0 20px 0;

    .content {
        padding: 50px 30px 0 30px;
        
    }

    .sponsors {
        background-color: $intro-color;
        padding: 30px;
    }
    
    .contact {
        padding: 30px;
        margin-top: 60px;
        text-align: center;
        
        i {
            font-size: 5em;
            margin-left: auto;
            margin-right: auto;
        }
    }
    
    button {
        background-color: #cacfd5;
    }
}


/* faq */
.faq {
    margin: 30px;
    margin-top: 60px;
    
    h2 {
        font-size: 1.5em;
        font-weight: 600;
    }
    
    p {
        font-size: 0.7em;
        font-weight: 300;
    }
}


/* slant */
.angle:after { 
    content: "";
    border-top: 140px solid $v-color;
    border-left: 99vw solid transparent;
    position: absolute;
    top: -1px;
}

.angle {
	position: relative;
	width: 0%;
	height: 0px;
	border-top: 1px solid $intro-color;
}
/* slant */
.angle2:after { 
    content: "";
    border-top: 140px solid $intro-color;
    border-right: 99vw solid transparent;
    position: absolute;
    top: -1px;

}

.angle2 {
	position: relative;
	width: 0%;
	height: 0px;
	border-top: 1px solid $intro-color;
}

/* Animations */
#leangap {
     -vendor-animation-delay: 2s;
}