body {
    height: 100%;
    width: 100%;
    margin: 0;
    margin-top: 100px;
    padding: 0;
}

.navbar {
    background-color: #4ECDC4;
}

h3 {
    color: #4ECDC4;
}

h4 a {
    color: #000;
    text-decoration: underline;
}

.name {
    text-decoration: none;
}